*{
    margin: 0;
}
.navBar{
    height: 70px;
    background-color: blue;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.body{
    height: 100vh;
    background-image: linear-gradient(rgb(133, 201, 223),rgb(197, 115, 115),rgb(141, 217, 242));
}
.link{
    color: white;
    text-decoration: none;
    font-family: 'Tangerine', cursive;
}
.header{
    padding: 4%;
    display: flex;
    justify-content: space-between;
}
table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 15px;
  }
.table{
    margin-left: 4%;
    width: 92%;
    height: 400px;
    font-size: 20px;
    background-color: white;
    text-align: center;
}